// IMPORTS
@import "variables"
@import "navbar"

// RESET
*
  margin: 0
  padding: 0
  box-sizing: border-box

// GENERAL LAYOUT

// Background color, font family and font size
body
  background-color: $bgColor
  font-family: $font-stack-main
  font-size: 0.8rem
