// IMPORTS
@use 'mixins-and-functions' as mixfunc
@import "variables"
@import "navbar"

// RESET
*
  margin: 0
  padding: 0
  box-sizing: border-box

// GENERAL LAYOUT

// Background color, font family and font size
body
  background-color: $bgColor
  font-family: $font-stack-main
  font-size: 0.8rem

// MAIN CONTENT (POSTS)

// Container width, padding and margin
.posts-container
  width: 600px
  padding: 1rem 0
  margin: 1rem auto

// Post general properties
.post
  font-size: 0.9rem
  margin-bottom: 1rem
  border: 1px solid $borderColor
  border-radius: 3px
  background-color: white

// Top ribbon section
.top-ribbon
  padding: 1rem
  border-bottom: 1px solid $borderColor
  display: flex
  flex-wrap: nowrap
  justify-content: space-between
  align-items: center

.publisher-data
  display: flex
  flex-wrap: nowrap
  justify-content: flex-start
  align-items: center

.publisher-data>div
  margin-right: 1rem

.profile-pic-wrapper-1
  width: 39px
  height: 39px
  border-radius: 50%
  .profile-pic-wrapper-2
    width: 35px
    height: 35px
    border-radius: 50%
    background: white
    position: relative
    left: 2px
    top: 2px
    .profile-pic
      width: 31px
      height: 31px
      border-radius: 50%
      position: relative
      left: 2px
      top: 2px
      &:hover
        cursor: pointer

.information-wrapper
  p
    margin-bottom: 0.15rem
    &:hover
      cursor: pointer
  small
    &:hover
      cursor: pointer

.more-options
  &:hover
    cursor: pointer

// Profile picture and "stories" sign customization per post
.post-1
  .profile-pic-wrapper-1
    background: linear-gradient(45deg, orange, purple)
  .profile-pic
    @include mixfunc.assignUrl($post1, 'profile-pic')
.post-2
  .profile-pic-wrapper-1
    background: white
  .profile-pic
    @include mixfunc.assignUrl($post2, 'profile-pic')
.post-3
  .profile-pic-wrapper-1
    background: linear-gradient(45deg, orange, purple)
  .profile-pic
    @include mixfunc.assignUrl($post3, 'profile-pic')

// Post main picture section
.picture
  height: 600px
  border-bottom: 1px solid $borderColor

// Post picture customization per post
.post-1
  .picture
    @include mixfunc.assignUrl($post1, 'post-pic')
.post-2
  .picture
    @include mixfunc.assignUrl($post2, 'post-pic')
.post-3
  .picture
    @include mixfunc.assignUrl($post3, 'post-pic')

// Interactions section
.interactions
  border-bottom: 1px solid $borderColor
  padding: 1rem

  .icons
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    align-items: center
    i
      font-size: 24px
      color: rgba(38, 38, 38, 1)
      margin-right: 0.9rem
      margin-bottom: 0.9rem
      &:hover
        cursor: pointer
    .group-1
      width: 125px
      display: flex
      flex-wrap: nowrap
      justify-content: flex-start
      align-items: center
    .group-2
      i
        margin-right: 0
      &:hover
        opacity: 0.7

  .likes
    p
      margin-bottom: 0.9rem
    b
      &:hover
        cursor: pointer

  .comments
    .comment
      margin-bottom: 0.6rem
      display: flex
      flex-wrap: nowrap
      justify-content: space-between
      align-items: center
      .group-1
        width: 95%
        a
          text-decoration: none
          color: $commentMention
        b
          &:hover
            cursor: pointer
      .group-2
        width: 5%
        text-align: right
        i
          &:hover
            cursor: pointer
    .load-comments
      color: $colorOrDivision
      margin-bottom: 0.4rem
      p
        &:hover
          cursor: pointer

  .publication-date
    small
      font-size: 0.6rem
      color: $colorOrDivision
      text-transform: uppercase

.fas.fa-heart
  color: $likeHeartColor !important

.new-comment
  position: relative
  input
    width: 100%
    outline: none
    border: none
    padding: 1rem 1rem 1rem 1rem
  .post-new-comment
    position: absolute
    right: 1rem
    bottom: 50%
    transform: translateY(50%)
    text-align: right
    font-weight: bold
    color: $bgInputSubmit
    opacity: 0.3
    &:hover
      opacity: 1
      cursor: pointer
